@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.body {
    overflow: hidden;
}

#header-section {
    background-color: #16ABF8;
    padding: 3rem;
}

.header-now {
    color: #ffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.header-title h1 {}

#dashboard {
    background-color: #E5E5E5;
    height: 100vh;
}


.dashboard-site h1 {
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.add-data {
    float: right;
    margin-top: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    border-radius: 45px !important;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
}

.btn-primary {
    background-color: #16ABF8 !important;
}

.card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;

    color: #111111;
}

.card-body .row {
    margin-top: 8rem;
}

.card-body i {
    float: right;
    color: #888888;
}

.card-body p {
    font-size: 11px;
    color: #888888;
}

.card-rounder {
    width: -webkit-fill-available;
    height: 234px;
}